<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static\css\style_instruction.css" />
    <link rel="stylesheet" href="../static\css\style_button.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Are You Ready?</title>
  </head>
  <body>
    <div class="ready">
      <div class="group-14">
        <img class="star" src="../static\images\star0.svg" />
        <img class="rectangle-29" src="../static\images\rectangle-290.svg" />
      </div>
      <a href="{{url_for('deck_option')}}">
        <div class="button-style-2-shadow1">
          <div class="button1">Tap to start</div>
        </div>
      </a>
      <div class="you-will-receive-an-initial-amount-of-rs-2000">
        <span>
          <span>
            You Will Receive an Initial Amount of
            <br />
          </span>
          <span> RS. 2000 </span>
        </span>
      </div>
      <div class="group-19124">
        <img class="rectangle-18805" src="../static\images\rectangle-188050.svg" />
        <div class="are-you-ready">Are You Ready?</div>
      </div>
    </div>
  </body>
</html>
